#!/usr/bin/make -f
%:
	dh $@

ifeq (,$(findstring nolauncher,$(DEB_BUILD_OPTIONS)))
    OPTS += --enable-maemo-launcher
    LAUNCHER = yes
endif

ifeq "$(strip $(LAUNCHER))" "yes"
	LAUNCHER_DEPENDS = -Vlauncher:Depends="maemo-launcher"
endif

override_dh_install:
	dh_install
	dh_maemolauncher -p osso-games-startup usr/bin/osso_games_startup

override_dh_gencontrol:
	dh_gencontrol -- $(LAUNCHER_DEPENDS)

override_dh_auto_configure:
	dh_auto_configure -- $(OPTS)
