#!/usr/bin/make -f
%:
	dh $@

ifeq (,$(findstring nolauncher,$(DEB_BUILD_OPTIONS)))
    OPTS += "--enable-maemo-launcher=yes"
    USE_MAEMO_LAUNCHER = true
endif

ifeq "$(strip $(LAUNCHER))" "yes"
	LAUNCHER_DEPENDS = -Vlauncher:Depends="maemo-launcher"
	LAUNCHER_CFLAGS = $(shell pkg-config --cflags maemo-launcher-app)
	LAUNCHER_LDFLAGS = $(shell pkg-config --libs maemo-launcher-app) -export-dynamic
endif

override_dh_auto_install:
	dh_auto_install
	if test "x$(USE_MAEMO_LAUNCHER)" = "xtrue"; then \
		dh_maemolauncher ; \
	fi

override_dh_auto_configure:
	dh_auto_configure -- $(OPTS)
